.row 
  .small-12.medium-12.columns 
    .alert-box.success{"data-alert" => ""} 
      Success.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns 
    .alert-box.failure{"data-alert" => ""} 
      I AM ERROR.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns
    %dl.sub-nav 
      %dd 
        %a{:href => "#"} All Quotes
      %dd 
        %a{:href => "#"} My Quote
      %dd.active 
        %a{:href => "#"} New Quotes
.row 
  .small-12.medium.12.columns 
    %ul.pagination.new-steps 
      %li.unavailable.complete 
        %span.circle 1
        %span.step-text 
          Type
      %li.unavailable.complete 
        %span.circle 2
        %span.step-text 
          Company
      %li.unavailable.complete 
        %span.circle 3
        %span.step-text 
          Contact
      %li.current 
        %span.circle 4
        %span.step-text 
          Opportunity
      %li.unavailable 
        %span.circle 5
        %span.step-text 
          Reseller
      %li.unavailable 
        %span.circle 6
        %span.step-text 
          SKUs
      %li.unavailable 
        %span.circle 7
        %span.step-text 
          Complete
    %hr/ 
.row 
  .small-12.medium-12.columns 
    %p Instructional text goes here
.row 
  .small-12.medium-12.columns 
    %form{:action => ""} 
      .row 
        .small-5.medium-5.columns 
          %select#type{:name => "Select Opportunity"} 
            %option{:value => "Select Opportunity"} Select Opportunity
            %option{:value => "Type 1"} Type 1
        .small-7.medium-7.columns 
          %input.button.tiny.back{:type => "button", :value => "Back"}/ 
          %input.button.tiny.next{:type => "button", :value => "Next"}/ 
.row.review 
  .small-2.medium-2.columns 
    %p.bold
      Quote Type:
  .small-10.medium-10.columns
    %p User's Choice
.row.review 
  .small-2.medium-2.columns 
    %p.bold
      Company:
  .small-10.medium-10.columns
    %p User's Choice
.row.review 
  .small-2.medium-2.columns 
    %p.bold
      Contact:
  .small-10.medium-10.columns
    %p User's Choice
.row.review 
  .small-2.medium-2.columns 
    %p.bold
      Email:
  .small-10.medium-10.columns
    %p email@email.com