.row 
  .small-12.medium-12.columns 
    .alert-box.success{"data-alert" => ""} 
      Success.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns 
    .alert-box.failure{"data-alert" => ""} 
      I AM ERROR.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns
    %dl.sub-nav 
      %dd 
        %a{:href => "#"} All Quotes
      %dd 
        %a{:href => "#"} My Quote
      %dd.active 
        %a{:href => "#"} New Quotes
      %dd.right 
        %a{:href => "#"} Filter/Search
.row 
  .small-12.medium.12.columns 
    %ul.pagination.new-steps 
      %li.current 
        %a{:href => "#"} 1
        %span.step-text 
          Select Type
      %li.unavailable 
        %a{:href => "#"} 2
        %span.step-text 
          Select Company
      %li.unavailable 
        %a{:href => "#"} 3
        %span.step-text 
          Select Contact
      %li.unavailable 
        %a{:href => "#"} 4
        %span.step-text 
          Select Opportunity
      %li.unavailable 
        %a{:href => "#"} 5
        %span.step-text 
          Select Reseller
      %li.unavailable 
        %a{:href => "#"} 6
        %span.step-text 
          Add SKUs
      %li.unavailable 
        %a{:href => "#"} 7
        %span.step-text 
          Complete
    %hr/ 
.row 
  .small-12.medium-12.columns 
    %p Instructional text goes here
.row 
  .small-12.medium-12.columns 
    %form{:action => ""} 
      .row 
        .small-5.medium-5.columns 
          %select#type{:name => "Select Type"} 
            %option{:value => "Select Type"} Select Type
            %option{:value => "Type 1"} Type 1
        .small-7.medium-7.columns 
          %input.button.small.back{:type => "button", :value => "Back"}/ 
          %input.button.small.next{:type => "button", :value => "Next"}/ 