.row 
  .small-12.medium-12.columns 
    .alert-box.success{"data-alert" => ""} 
      Success.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns 
    .alert-box.failure{"data-alert" => ""} 
      I AM ERROR.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns
    %dl.sub-nav 
      %dd 
        %a{:href => "#"} All Quotes
      %dd.active 
        %a{:href => "#"} New Quote
      %dd 
        %a{:href => "#"} My Quotes
      %dd.right 
        %a{:href => "#"} Filter/Search
