.row 
  .small-12.medium-12.columns 
    .alert-box.success{"data-alert" => ""} 
      Success.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns 
    .alert-box.failure{"data-alert" => ""} 
      I AM ERROR.
      %a.close{:href => "#"} &times;
.row 
  .small-12.medium-12.columns 
    %p Instructional text goes here
.row 
  .small-2.medium-2.columns 
    %p.bold
      Quote Type:
  .small-10.medium-10.columns
    %p User's Choice
.row 
  .small-2.medium-2.columns 
    %p.bold
      Company:
  .small-10.medium-10.columns
    %p User's Choice
.row 
  .small-2.medium-2.columns 
    %p.bold
      Contact:
  .small-10.medium-10.columns
    %p User's Choice
.row 
  .small-2.medium-2.columns 
    %p.bold
      Email:
  .small-10.medium-10.columns
    %p email@email.com
.row 
  .small-2.medium-2.columns 
    %p.bold
      Opportunity:
  .small-10.medium-10.columns
    %p User's Choice
.row 
  .small-2.medium-2.columns 
    %p.bold
      Reseller:
  .small-10.medium-10.columns
    %p User's Choice
.row 
  .small-2.medium-2.columns 
    %p.bold
      SKUs:
  .small-2.medium-2.columns
    %p User's Choice
  .small-4.medium-4.columns
    %p User's Choice
  .small-4.medium-4.columns
    %p User's Choice
.row 
  .small-4.medium-4.columns.end 
    %input.button.small.back{:type => "button", :value => "Edit SKUs"}/ 
    %input.button.small.next{:type => "button", :value => "Finish"}/ 